body {
	background: linear-gradient(-45deg, #864f4f, #ff0000, #ff0000, #3f4746);
	background-size: 400% 400%;
	/* animation: gradient 15s ease infinite; */
	height: 100%;
	color: white;
	font-weight: 200;
	margin: 0;
	padding: 0;
	font-size:18px;
}


/* @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
} */


.content {
	text-align: center;
	margin:auto auto 50px auto;
}

div ul {
	padding: 0 0 0 3rem !important;
}

.header {
	background: linear-gradient(-45deg, #b3b016, #ffffff, #ffee00, #ffbb00);
	/* animation: gradient2 15s ease infinite; */
	color: red;
	justify-content: center;
	text-align: center;
	/* background-color:white; */
	padding: 0 !important;
	margin: 0 !important;
	z-index:99;
}
.header.sticky-header{
	top: 0;
        position: fixed;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
}

/* @keyframes gradient2 {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
} */

.header h1 {
	font-size: 3rem;
	margin: 0;
}

.header h2 {
	font-size: 2rem;
}



hr.solid {
	border-top: 3px solid #ffffff;
	width: 75% !important;
	margin: 3rem auto auto auto !important;
}
hr.language {
	border-top: 7px solid #ffffff;
	width: 75% !important;
	margin: auto;
	border-radius:10px;
}

hr.dashed {
	border-bottom: 2px dashed #ffffff;
	width: 75% !important;
}
.grid-item{
	padding:10px;
	position:relative;
	text-align:center;
}
.grid-item::after {
	content: "";
	display: block;
	border-top: 2px dashed #ffffff;
	width: 75% !important;
	margin:auto;
	position:absolute;
	bottom:0;
	left:12.5%;
  }
  .children-left {
	text-align: left;
}

.children-right {
	text-align: center;
}
.added-sticky-header{
margin-top: 100px;
}
.my-training{
	margin-top:10px;
}
body .download-button{
	color: red;
	position:absolute;
	right:0;
	display:none;
}
body .download-button button{
	color: red;
}
ul{
	padding:0;
}
@media  (max-width: 1500px) {
	hr.language{
		width:65% !important;
	}
}

@media  (max-width: 1200px) {
	div ul{
		display:flex;
		flex-direction:column;

	}
	div ul li {
		/* text-align:center !important; */
		/* width: 50% !important; */
		/* justify-content: center !important;
		margin:0 auto 0 auto; */
		/* flex-direction:column;
		align-items:center !important; */
	}
	div ul li div{
		flex: inherit !important;
	}
	div ul li h4{
		margin:auto !important;
	}
	.custom-flex-box{
		display: flex;
		flex-direction: column;
		align-items: center;
	  }
	  .grid-item.language-section .language-list li{
		min-width:250px;
	  }
	  .grid-item.language-section .language-list li div{
		min-width:75px;
	  }
	  .children-left{
		text-align:center;
	  }
	  div ul {
		padding: 0 0 0 0 !important;
		display:flex;
	}
	.custom-flex-box .wide-listing{
		display: flex;
		align-items: center;
		width:75% !important;
	  }
	  

}
@media  (max-width: 1200px)  and (min-width:700px){
	.grid-item .side-listing li{
		min-width:600px !important;
	  }
}
@media (max-width:600px){
	body h1{
		font-size:2rem !important;
	}
	body h2{
		font-size:1.8rem !important;
	}
body {
	font-size:12px !important;
}
body h4{
	font-size:1.3rem !important;
}
body h5{
	font-size:1.25rem !important;
}
body .MuiGrid-root .MuiGrid-item{
	padding:10px 5px 10px 5px !important;
}

body .header.MuiGrid-root .MuiGrid-item{
	padding:0px 5px 0px 5px !important;
}

body .download-button button{
	font-size:10px;
}

}
	

